@page "/cuota/crear/{CuotaId:int}/{personaId:int}"

@inject IHttpServicio http
@inject NavigationManager navigationManager
<h3>Nueva Cuota</h3>

<FormCuota cuot="cuota" onValidSubbmit="Grabar" onCancel="Cancelar" />

@code {
    [Parameter] public int personaId { get; set; }
    [Parameter] public int CuotaId { get; set; }
    private Cuota cuota = new Cuota();
     
    private async Task Grabar()
    {
        CuotaDTO cuotaDTO = new()
            {
                
                Numero_cuotas = cuota.Numero_cuotas,
                total = cuota.total,
                dni = personaId,
                idpersona = CuotaId

             
            };

        var httpRespueta = await http.Post<CuotaDTO>("api/cuota", cuotaDTO);

        if (httpRespueta.Error)
        {
            var body = httpRespueta.HttpResponseMessage;
        }

        navigationManager.NavigateTo($"/cuota/{CuotaId}/{personaId}");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo($"/cuota/{CuotaId}/{personaId}");
    }

}
